In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Load data
path = "aclImdb/"
positiveFiles = [x for x in os.listdir(path+"train/pos/") if x.endswith(".txt")]
negativeFiles = [x for x in os.listdir(path+"train/neg/") if x.endswith(".txt")]
positive2Files = [x for x in os.listdir(path+"test/pos/") if x.endswith(".txt")]
negative2Files = [x for x in os.listdir(path+"test/neg/") if x.endswith(".txt")]

In [3]:
positiveReviews, negativeReviews, positive2Reviews, negative2Reviews = [], [], [], []
for pfile in positiveFiles:
    with open(path+"train/pos/"+pfile, encoding="latin1") as f:
        positiveReviews.append(f.read())
for nfile in negativeFiles:
    with open(path+"train/neg/"+nfile, encoding="latin1") as f:
        negativeReviews.append(f.read())
for p2file in positive2Files:
    with open(path+"test/pos/"+p2file, encoding="latin1") as f:
        positive2Reviews.append(f.read())
for n2file in negative2Files:
    with open(path+"test/neg/"+n2file, encoding="latin1") as f:
        negative2Reviews.append(f.read())

In [4]:
reviews = pd.concat([
    pd.DataFrame({"review":positiveReviews, "label":1, "file":positiveFiles}),
    pd.DataFrame({"review":negativeReviews, "label":0, "file":negativeFiles}),
    pd.DataFrame({"review":positive2Reviews, "label":1, "file":positive2Files}),
    pd.DataFrame({"review":negative2Reviews, "label":0, "file":negative2Files})
], ignore_index=True).sample(frac=1, random_state=1)
reviews.head()

                                                  review  label         file
26247  Fame is one of the best movies I've seen about...      1  11122_8.txt
35067  This movie fully deserves to be one of the top...      1  7811_10.txt
34590  in a time of predictable movies, in which abou...      1  7382_10.txt
16668  I saw this on TV the other nightÂ
 or rather I...      0   2501_1.txt
12196  I am a huge fan of Simon Pegg and have watched...      1   9728_7.txt

In [5]:
reviews["label"] = pd.to_numeric(reviews["label"])

reviews["review"] = reviews["review"].str.replace(",","")
reviews.head()

                                                  review  label         file
26247  Fame is one of the best movies I've seen about...      1  11122_8.txt
35067  This movie fully deserves to be one of the top...      1  7811_10.txt
34590  in a time of predictable movies in which aboun...      1  7382_10.txt
16668  I saw this on TV the other nightÂ
 or rather I...      0   2501_1.txt
12196  I am a huge fan of Simon Pegg and have watched...      1   9728_7.txt

In [6]:
reviews.to_csv('reviews.csv')

In [2]:
reviews_df = pd.read_csv('reviews.csv')
reviews_df.head()

,Unnamed: 0,review,label,file
0,26247,Fame is one of the best movies I've seen about...,1,11122_8.txt
1,35067,This movie fully deserves to be one of the top...,1,7811_10.txt
2,34590,in a time of predictable movies in which aboun...,1,7382_10.txt
3,16668,I saw this on TV the other nightÂ or rather I...,0,2501_1.txt
4,12196,I am a huge fan of Simon Pegg and have watched...,1,9728_7.txt

In [3]:
reviews_list = reviews_df["review"].tolist()

In [4]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

compound_list = []

for review in reviews_list:
    results = analyzer.polarity_scores(review)
    compound = results["compound"]
    compound_list.append(compound)

In [5]:
vader_df = pd.DataFrame({'vader':compound_list})
vader_df.head()

    vader
0  0.9618
1  0.9921
2  0.9342
3 -0.9759
4  0.9702

In [6]:
vader_df2 = pd.merge(reviews_df, vader_df, how='outer', left_index=True, right_index=True)
vader_df2.head(3)

,Unnamed: 0,review,label,file,vader
0,26247,Fame is one of the best movies I've seen about...,1,11122_8.txt,0.9618
1,35067,This movie fully deserves to be one of the top...,1,7811_10.txt,0.9921
2,34590,in a time of predictable movies in which aboun...,1,7382_10.txt,0.9342

In [12]:
vader_df2.to_csv('vader.csv')

In [9]:
vader_list = vader_df["vader"].tolist()

x = 1
y = 0

new_items = [1 if x >=0 else y for x in vader_list]

In [42]:
vader_df3 = pd.DataFrame({'vader_pos_neg':new_items})

vader_df4 = pd.merge(vader_df2, vader_df3, how='outer', left_index=True, right_index=True)
vader_df4

,Unnamed: 0,review,label,file,vader,vader_pos_neg
0,26247,Fame is one of the best movies I've seen about...,1,11122_8.txt,0.9618,1
1,35067,This movie fully deserves to be one of the top...,1,7811_10.txt,0.9921,1
2,34590,in a time of predictable movies in which aboun...,1,7382_10.txt,0.9342,1
3,16668,I saw this on TV the other nightÂ or rather I...,0,2501_1.txt,-0.9759,0
4,12196,I am a huge fan of Simon Pegg and have watched...,1,9728_7.txt,0.9702,1
5,2600,There is indeed much to complain about this mo...,1,12340_8.txt,0.9957,1
6,9047,The men can slaver over Lollo if they like (or...,1,6894_7.txt,0.9488,1
7,2206,Since it has been some years since I reviewed ...,1,11987_7.txt,0.9964,1
8,25607,I love this film it is excellent and so funny ...,1,10547_10.txt,0.9827,1
9,11606,This is actually a groovy-neat little flick ma...,1,9197_7.txt,0.7052,1
10,3624,If you have never viewed this film and like ol...,1,2011_7.txt,0.9804,1
11,43027,I want the 99 minutes of my life back that was...,0,3725_1.txt,-0.9365,0
12,15190,"Mark Pirro's ""Deathrow Gameshow"" of 1987 is a ...",0,12421_4.txt,0.9153,1
13,25816,"No this has nothing to do with the sitcom ""Sei...",1,10735_10.txt,0.9987,1
14,26370,The Polish brothers are unique film artists an...,1,11233_10.txt,0.9612,1
15,1281,Virile but naive big Joe Buck leaves his home ...,1,11153_10.txt,0.9800,1
16,29433,My dad had this movie as an 8mm reel. I loved ...,1,2740_10.txt,0.9636,1
17,36256,This movie is basically a spoof on Hitchcock's...,1,8882_8.txt,-0.9062,0
18,34217,I rarely even bother to watch comedic movies o...,1,7046_7.txt,0.9664,1
19,39950,This film brought a whole new meaning to that ...,0,12205_2.txt,0.9545,1
20,6756,I went into this expecting not to like it; I f...,1,4831_8.txt,0.9449,1
21,26652,"""Committed"" is all about Graham as an irrepres...",1,11488_7.txt,0.9423,1
22,3991,I watched the Pie-lette last night and the wor...,1,2342_8.txt,0.9514,1
23,40312,Why did they change the cute Rugrats televisio...,0,1281_2.txt,0.3116,1
24,24580,Ben Stiller doesn't so much act as react. And ...,0,9623_4.txt,0.6055,1
25,4949,I loved this movie and will watch it again. Or...,1,3204_10.txt,0.8720,1
26,18783,All I can say is before watching the movie I d...,0,4405_2.txt,0.8529,1
27,39205,I absolutely hated this movie. Even though the...,0,11535_1.txt,-0.4188,0
28,23784,I rented this on DVD yesterday and did not rea...,0,8907_4.txt,0.9634,1
29,39508,"The video box for 'Joyride' says ""starring sec...",0,11808_1.txt,-0.9602,0
...,...,...,...,...,...,...
49970,44510,Now infamous Western that was (at its time) th...,0,505_1.txt,0.9034,1
49971,26103,We went to see Manna from Heaven my husband tw...,1,10994_10.txt,0.9728,1
49972,17137,There was something here with the female lead ...,0,2924_4.txt,0.9847,1
49973,19433,One of the worst movies I've seen shoddy camer...,0,4991_2.txt,-0.9687,0
49974,24535,"""Proximity"" tells of a convict (Lowe) who thin...",0,9583_4.txt,-0.9154,0
49975,31959,By many accounts Stu Ungar was not a very nice...,1,5013_9.txt,0.8603,1
49976,27204,This is not especially well written. The songs...,1,11985_8.txt,0.9542,1
49977,49714,I couldn't even sit through the whole thing! T...,0,9744_1.txt,-0.4182,0
49978,22926,A man wakes from a nightmare about bats. He an...,0,8134_3.txt,-0.9904,0
49979,37532,Rented 3 bad movies to watch with my friends i...,0,10029_1.txt,-0.9977,0
49980,19946,As far as films go this is likable enough. Ent...,0,5452_4.txt,0.3430,1
49981,8444,I waited and waited for this film to come outt...,1,6350_8.txt,0.9650,1
49982,35730,I loved the movie. I loved Timothy Dalton and ...,1,8408_10.txt,0.9597,1
49983,45413,I bought this movie at a thrift store. Months ...,0,5873_3.txt,0.9838,1
49984,21758,My husband rented this from a video store thin...,0,7083_1.txt,0.2805,1
49985,32025,The powerhouse cast pulls the crowd in the the...,1,5073_8.txt,0.4397,1
49986,36230,John Carpenter shows how much he loves the 195...,1,8859_10.txt,0.8555,1
49987,31228,What attracts a man to military service? What ...,1,4356_10.txt,-0.9295,0
49988,43757,I picked this film up from the local Family Vi...,0,4382_3.txt,-0.9667,0
49989,7751,Karen (Sarah Michelle Gellar) an exchange stud...,1,5727_9.txt,-0.9166,0
49990,49100,This really is a cringe making exercise. Dress...,0,9191_1.txt,0.2893,1
49991,20609,First off anyone who thinks this sequel to Wil...,0,6049_4.txt,-0.3244,0
49992,32912,I first saw this film as a teenager (I'm now i...,1,5872_10.txt,0.7697,1
49993,21440,This is the worst movie I have ever seen. Ever...,0,6798_1.txt,-0.9808,0
49994,7813,I've read reviews of Kerching on IMDb and fran...,1,5783_7.txt,0.9964,1
49995,43723,"A sadly inferior precursor to ""Who's Afraid of...",0,4351_3.txt,-0.8352,0
49996,32511,This thriller is one of the few (film) surpris...,1,5510_9.txt,0.9433,1
49997,5192,"Do not expect a depiction of the ""truth"". Howe...",1,3423_7.txt,-0.9964,0
49998,12172,The League of Gentlemen is one of the funniest...,1,9706_10.txt,0.9736,1
49999,33003,As a French i found it very pleasant to be abl...,1,5954_10.txt,0.9775,1

In [16]:
vader_df4.to_csv('vader.csv')

In [36]:
vader_correct = []
for x in vader_df4.itertuples():
    if (x.label == x.vader_pos_neg):
        vader_correct.append((x.file))
    else:
        continue

In [41]:
count = len(vader_correct)
count

34708